*{ padding: 0;
    margin: 0;
}
#menu-nav{
    display: flex;
    line-height: 50px;
    padding: 30px;
    height: 900px;
    margin-bottom: 2%;
    background-color: rgb(255, 230, 0);
    background-image: url(./imagens/freestocks-_3Q3tsJ01nc-unsplash.jpg);
    background-size: cover;
   
  

}
menu{
 border-bottom: solid 2px rgb(211, 166, 3);
 height: 30px;
}
#menu-ul{
    background-color: rgba(2, 1, 1, 0.424);
   width: 100%;
    height: 300px;
    opacity: 0;
   transform: translate(-150%);
   transition: .8s;
   list-style-type: none;
  
}
.art-h1{
    margin-bottom: 20%;
    color: rgb(56, 37, 8);
    font-size: 2em;
    height: 50px;
    width: 100%;
   text-align: center;
}

#menu-ul.show{
    opacity: 1;
    transition: .8s;
    transform: translate(0%);
}
article,.icones{
    border: 0px;
    margin: 0;
    cursor: pointer;
    width: 40px;

}

#botao.esconder{
    display: none;
}
#itens .ul-li{
    margin: 110px;
    display: inline;
  
    
}
#itens, a{
    text-decoration: none;
    color: rgb(227, 165, 8);
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    display: inline;
    
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    background-color: rgb(255, 255, 255);
}
div{
    width: 40%;
    margin: 20px;
    text-shadow: 3px 3px 5px black;
    height: 200px;
    line-height: 55px;
    background-image: url(./imagens/pexels-frendsmans-1926769.jpg);
    background-size: cover;
    padding: 40px;
    color: rgb(127, 2, 2);
    font-weight: bold;
    background-position: center center;
    border: solid 2px rgb(218, 100, 3);
    transition: .5s;
    
}
div:hover{
   transform: scale(1.1);
   transition: .3s;
}
.card-1{
    width: 70%;
    height: 660px;
    background-image: url(./imagens/pexels-frendsmans-1926769.jpg);
    background-position:  top center;
}
.card-2{
    width: 70%;
    height: 660px;
    background-image: url(imagens/free-photo-of-empresario-homem-de-negocios-moda-tendencia.jpeg);
    background-position:  top center;
   
}
.card-3{
    width: 70%;
    height: 660px;
    background-image: url(imagens/pexels-photo-983564.jpeg);
    
    
}
.seçao-texto{
 background-color: rgba(0, 0, 0, 0.65);
color: rgb(255, 217, 0);
padding: 20px;
margin-top: 380px;
opacity: 0;
transform: translateY(50%);
border-top: solid 3px rgb(237, 207, 12);
   
}
.seçao-texto:hover{
    opacity: 1;
    transform: translateY(0%);
    transition: .5s;
}
.botao, img{
    background-color: transparent;
    border: 0px;
}
.seçao{
    width: 100%;
    display: grid;
    background-color: rgb(99, 43, 43);
}
.card-seçao{
   grid-template-columns: repeat(1fr, 4);
   padding: 80px;
   position: relative;
   left: 50%;
    width: 100%;
}
.seção-txt{
    grid-template-columns: repeat(1fr, 4);
    width: 30%;
    display: grid;
    position: absolute;
    top: 50%;
    right: 100%;
    

}
.card-seçao-2{
    position: relative;
    width: 100%;
}
.seção-txt-2{
    width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
}
@media screen and (max-width: 1000px){
    *{ padding: 0;
        margin: 0;
    }
    #menu-nav{
        display: flex;
        padding: 30px;
        height: 900px;
        margin-bottom: 2%;
        background-color: rgb(255, 230, 0);
        background-image: url(./imagens/freestocks-_3Q3tsJ01nc-unsplash.jpg);
        background-size: cover;
       
      
    
    }
    menu{
     border-bottom: solid 2px rgb(211, 166, 3);
     height: 30px;
    }
    #menu-ul{
        background-color: rgba(255, 255, 255, 0.302);
        color: rgb(234, 144, 10);
       width: 100%;
        height: 300px;
        opacity: 0;
       transform: translate(-150%);
       transition: .8s;
       overflow: scroll;
    }
    .art-h1{
        margin-bottom: 20%;
        color: rgb(234, 144, 10);
        font-size: 2em;
        height: 50px;
        width: 100%;
       text-align: center;
    }
    
    #menu-ul.show{
        opacity: 1;
        transition: .8s;
        transform: translate(0%);
    }
    article,.icones{
        border: 0px;
        margin: 0;
        cursor: pointer;
        width: 40px;
    
    }
    
    #botao.esconder{
        display: none;
    }
    #itens .ul-li{
        margin: 140px;
        display: inline;
       
       
        
    }
    #itens, a{
        text-decoration: none;
        color: rgb(118, 85, 2);
        font-size: 1.3em;
        font-weight: 400;
        
    }
    body{
        background-color: rgb(255, 255, 255);
    }
    main{
        display: flex;
        background-color: rgb(255, 255, 255);
    }
    div{
        width: 40%;
        margin: 20px;
        text-shadow: 3px 3px 5px black;
        height: 200px;
        line-height: 55px;
        background-image: url(./imagens/pexels-frendsmans-1926769.jpg);
        background-size: cover;
        padding: 40px;
        color: rgb(127, 2, 2);
        font-weight: bold;
        background-position: center center;
        border: solid 2px rgb(218, 100, 3);
        transition: .5s;
        
    }
    div:hover{
       transform: scale(1.1);
       transition: .3s;
    }
    .card-1{
        width: 70%;
        height: 660px;
        background-image: url(./imagens/pexels-frendsmans-1926769.jpg);
        background-position:  top center;
    }
    .card-2{
        width: 70%;
        height: 660px;
        background-image: url(imagens/free-photo-of-empresario-homem-de-negocios-moda-tendencia.jpeg);
        background-position:  top center;
       
    }
    .card-3{
        width: 70%;
        height: 660px;
        background-image: url(imagens/pexels-photo-983564.jpeg);
        
        
    }
    .seçao-texto{
     background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 217, 0);
    padding: 20px;
    margin-top: 380px;
    opacity: 0;
    transform: translateY(50%);
    border-top: solid 3px rgb(237, 207, 12);
       
    }
    .seçao-texto:hover{
        opacity: 1;
        transform: translateY(0%);
        transition: .5s;
    } 
   
  
}